<div class="container">
  <div class="row">
    <ul>
        <% @users.each do |user| %>
          <li>
            <%= user.name %>
            <!-- 使用 locals 來傳入區域變數，在這裡，需要傳入 @users.each 下的變數 user -->
            <%= render partial: "shared/follow", locals: {user: user} %>
          </li>
        <% end %>
    </ul>
  </div>
</div>